<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <%= image_tag "profile.png", class: "img-responsive" %>
                <div class="intro-text">
                    <span class="name">Amar Shivers</span>
                    <hr class="star-light">
                    <span class="skills">Full Stack Web Developer - Front End Web Developer</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
                <% @posts.each do |post| %>
                <div class="col-sm-4 portfolio-item">
                <%= link_to post_path(post) do %>
                  <%= image_tag post.image, class: 'img-responsive' %>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <p class="indent">I'm a <a class="lead" target="_blank" href="#"></a>front end web developer,based in San Diego, a degreed Industrial Engineer by profession with 21 years experience working in Supplied Logistic and Manufacturing Industries.</p>
              <p class="indent">I'm passionate about what I do and always give 100%.When I undertake a project or task and I don't just complete it, I go the extra mile and make it better than requested.</p>
            </div>


            <div class="col-lg-4">
                <p id="f">Compentence:</p>
                <p id="f">Languages and Frameworks:</p>
                <p>Ruby on Rails, JavaScript, jQuery, AJAX, HTML5 & CSS, SQL, PostgreSQL.</p>
                <p id="f">Tools & expertise:</p>
                <p>Git & Source control, Github, Code Reviews& Collaboration, BDD-testing with RSpec, API & Applications.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> MORE INFO
                </a>
            </div>
        </div>
    </div>
</section>



<section id="contact">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact Me</h2>
                      <h2 class="section-heading">Let's Get In Touch!</h2>
                      <hr class="primary">
                      <h4>Ready to start your next project with me? That's great! Give me a call or send me an email and I will get back to you as soon as possible!</h4>
                  </div>
                  <div class="col-lg-4 col-lg-offset-2 text-center">
                      <i class="fa fa-phone fa-3x sr-contact animated infinite jello"></i>
                      <h3>760-458-1375</h3>
                  </div>
                  <div class="col-lg-4 text-center">
                      <i class="fa fa-envelope-o fa-3x sr-contact animated infinite flipOutX"></i>
                      <h3><%= mail_to "amarshivers94@gmail.com", "amarshivers94@gmail.com", subject: "Hi! Please include your name and email address" %></h3><br>
                  </div>
                  <div class="col-lg-12 text-center">
                      <hr class="star-primary">
                  </div>
              </div>
          </div>
      </section>

























<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
